<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Football League</title>
</head>
<body>
  <header>
      <nav>
          <ul class= "menu">
              <li><mark><a href="/">Home</a></mark></li>
              <li><mark><a href="/teams">Teams</a></mark></li>
              <li><mark><a href="/teams/new_team">New Team</a></mark></li>
          </ul>
      </nav>
  </header>
  
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>