<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Football League</title>
</head>
<body>
  <header>
      <nav>
          <ul class= "menu">
              <li><a href="/">Home</a></li>
              <li><a href="/teams">Teams</a></li>
              <li><a href="/teams/new">New Team</li>
          </ul>
      </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>