{% extends "base.html" %}
{% block content %}

<img src="static/images/teletext.png" width="100%">
<h1>CELTIC DROP TO 6th AFTER DRAW WITH DUNDEE UNITED</h1>

<p>Celtic manager Ange Postecoglou says the Scottish Premiership title is not an "insurmountable challenge" after his side's troubled start continued with a draw against Dundee United.
    A terrific Ian Harkes header quickly cancelled out Liel Abada's opener to leave Celtic sixth, six points behind leaders Rangers.
    </p>


    <h2>LATEST- Scotland vs Israel 9/10/21</h2>
    <p>Just a few months on from a rare outing at a major tournament, Scotland can take great strides in October as they pursue another jaunt into the spotlight.
       The scenario is simple - or as simple as it can ever be with Scotland: Beat Israel at Hampden and win in the Faroes, followed by victory in Moldova in November, and second place is secure, regardless of what anyone else does.</p>

       <div class="img_centre">  
        <img src="static/images/spl.png" width="300" >
        <img src="static/images/celticbadge.png" width="200">
        </div>

       







{% endblock content %}